img {
    max-width: 100%;
    height: auto;
}

.cart-img {
    height: 50;
}

.pagination li a,
.pagination li a:hover,
.pagination li span {
    color: #FA1818;
}

.pagination > li.active > a,
.pagination > li.active > a:hover {
    color: white;
    border-color: #FA1818;
    background-color: #FA1818; 
}

.product_list_header .button {
    color: #fff;
    font-size: 14px;
    outline: none;
    text-transform: capitalize;
    background: url(/images/cart.png) no-repeat 116px 9px;
    margin: .35em 0 0;
    padding: .5em 2.5em .5em 1em;
    border: 1px solid #84c639;
    width: 144px;
}

.snipcart-details .button {
    font-size: 14px;
    color: #fff;
    background: #FA1818;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    width: 100%;
    display: block;
    text-transform: uppercase;
    padding: .5em 0;
    outline: none;
}

.snipcart-details .button:hover {
    background-color: #84c639;
}

.close span,
.modal table > thead > tr > th,
.modal table > tbody > tr > td,
.modal table > tfoot > tr > td {
    color: black;
}

table span.glyphicon {
    color: rgb(145, 16, 16);
    top: 0;
    cursor: pointer;
}
